body {
    background-color: bisque;
}

.page {
    box-sizing: border-box;
}

.login-form {
    width: 300px;
    padding: 16px;
    background-color: aqua;
    font-size: 16px;
    font-family: monospace;
    text-shadow: 0px 4px 8px 0px, 0 0 0 0.2;
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.form-label {}

.form-input {}

.page {}

.submit-button {
    height: 32px;
    background-color: #ff7f50;
    margin-top: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
}