.login-form {
    width: 300px;
    padding: 16px;
    background-color: bisque;
    color: aqua;
    font-size: 16px;
    font-family: monospace;
    text-shadow: 0px 4px 8px 0px, 0 0 0 0.2;
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.page {}