* {
    margin: 16px;
}

.dropdown {
    padding: 16px;
    background-color: darkgreen;
    color: white;
    opacity: 0.8;
    display: inline-block;
    cursor: pointer;
}

.menu-list {
    /*
    visibility: hidden;*/
}

.menu-list {
    position: absolute;
    top: 50px;
    margin: 0;
    padding: 0;
    color: black;
    list-style-type: none;
    color: black;
    background-color: lightcyan;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
    display: none;
}

.menu-item {
    padding: 16px;
}

.dropdown:hover .menu-list {
    display: block;
    background-color: ghostwhite;
}