body {
    display: flex;
}

.block_red {
    background-color: red;
    height: 300px;
    width: 10vw;
}

.block_green {
    background-color: green;
    height: 300px;
    width: 10vw;
}

.block_blue {
    background-color: blue;
    height: 300px;
    width: 10vw;
}

.block_yellow {
    background-color: yellow;
    height: 300px;
    width: 10vw;
}

.block_black {
    background-color: black;
    height: 300px;
    width: 10vw;
}