* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.spinner {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    transition-property: opacity;
    animation: blinking 2s infinite linear;
}

@keyframes blinking {
    0% {
        transform: opacity(0);
    }
    50% {
        transform: opacity;
    }
    100% {
        transform: translateY(0);
    }
}